header{
  height:10vh;
  display: flex;
  align-items: center;
  color:white;
  background: linear-gradient(to right, rgba(6,6,86,0.9), rgba(6,6,86,1));
}

nav{
  display: flex;
  justify-content: space-around;
  width:100%;
}

.link,.site-name{
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color:white;
  &:hover{
    color:rgb(113, 72, 113)
  }
}

.site-name{
  font-size: x-large;
}