.container-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80vw;
  padding:20px;
  padding-top:40px;
  gap:40px;
}

.meta-container{
  display: flex;
  width: 100%;
  gap:20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.meta-image-author-time-container{
  width:50vw;
  max-width:500px;
}

.meta-image{
  border-radius: 10px;
  border:2px solid lightgray;
  width:100%;
  height:auto;
}

.description-container{
  width: 100%;
  text-align: justify;
}

.tags-container{
  display: flex;
  gap:10px;
  margin-top:10px;
}

.tags{
  display: flex;
  gap:10px;
}

.tags-container a{
  padding:2px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 4px;
  transition: all 0.2s;
  &:hover{
    background-color: black;
    color:white;
  }
}