{% extends "base.html" %}

{% load static %}

{% block page_name %}{{post.title}}{% endblock page_name %}

{% block css_files %}
 <link rel="stylesheet" href="{%static "blog/header.css" %}"/>
 <link rel="stylesheet" href="{%static "blog/post.css" %}"/>
{% endblock css_files %}

{% block content %}
  {% include "blog/includes/header.html" %}
  <div class="container-container">
    <div class="container">
      <div class="meta-container">
        <h1>{{post.title}}</h1>
        <div class="meta-image-author-time-container">
          <img class="meta-image" src="{{post.image.url}}"/>
          <h4>By <span><a class="author-link" href="{{post.author.get_absolute_url}}">{{post.author.first_name}} {{post.author.last_name}}</a></span></h4>
          <div class="meta-time-container">
            <p>Last Updated on</p>
            <h4>{{post.date}}</h4>
            <div class="tags-container">
              <h4>Tags: </h4>
              <div class="tags">
                {% for tag in  post_tags%}
                <a href="{{tag.get_absolute_url}}">{{tag.caption}}</a>
                {% endfor %}
              </div>
            </div>
            <div class="read-later">
              <form method="POST" action="{% url "read-later" %}">
                {% csrf_token %}
                <input type="hidden" value = {{ post.id }} name="post_id"/>
                <button>{% if is_read_later %}Remove From Read Later {% else %}Read Later{% endif %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="description-container">
        <p>{{post.content}}</p>
      </div>
      <div>
        <h3>Comments</h3>
        <a href="{% url "add-comment" id=post.id%}">Add Comment</a>
        <div>
          {% for comment in post_comments %}
            <div>
              <h4>{{ comment.user_name }}</h4>
              <p> {{ comment.description }} </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
